.light {
    background-color: rgb(206, 202, 197);
    color: #0B1319;

    transition: all 0.9s ease-in-out;
}

.light #site:hover {
    color: black;
}

.light #projetos:hover {
    color: black;
}

.light #contato:hover {
    color: black;
}

.light #github:hover {
    color: black;
}


.light .my_photo-circle {
    border: 8px solid #ae953d;
    transition: all 0.5s ease-in-out;
}

.light #about_me-icon h2 {
    color: #bba34e;
    transition: all 0.5s ease-in-out;
}

.light #formacao-icon h2 {
    color: #bba34e;
}

.light .tecnologias h2 {
    color:#bba34e;
    transition: all 0.5s ease-in-out;
}

.light .about_me-icon-circle {
    background-color: #bba34e;
    transition: all 0.5s ease-in-out;
}

.light .formacao-icon-circle {
    background-color: #bba34e;
}